@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

body {
    background-color: #F6EDFF;
    font-family: 'Inter', sans-serif;
}

.bg-primary-50 {
    background-color: #f6edff;
}

.bg-primary-700 {
    background-color: #6750A4;
}